* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(74, 53, 131) 0%,
    rgb(59, 97, 221) 100%
    );
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  justify-content: center;
  border: 2px solid #fff;
  padding: 30px 40px;
}

.tasks-container {
  background-color: #fff;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0,0,0,0.3);
  width: 100%;
}

.new-task-container {
  display: flex;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.new-task-input {
  flex: 3;
  font-size: 1rem;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
  padding: 12px;
  font-weight: 500;
}

.new-task-input:focus {
  outline: none;
  border-color: #413f96;
}

.new-task-button {
  flex: 1;
  border-radius: 5px;
  font-weight: 500;
  height: 100%;
  font-size: 1rem;
  border: none;
  background-color: #413f96;
  color: #fff;
  padding: 12px;
  margin-left: 12px;
  cursor: pointer;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
}

.delete-item-taskbutton {
  background-color: #413f96;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-item-taskbutton:hover {
  background-color: rgb(219, 93, 93);
}

/* Utilities */
.error {
  border: 2px solid #f00;
}

.error::placeholder {
  color: #f00;
}

.completed {
  text-decoration: line-through double #f00;

}